*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: black;
    height: 300vh;
    width: 100vw;
}
.page1, .page2, .page3{
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
}
.page1, .page3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: xx-large;
    overflow-x: hidden;
}
.box1, .box2, .box3{
 height: 100px;
 width: 100px;
 background-color: aliceblue;
}
/* .page1 h1 span{
    display: inline-block;
} */
 .page3 .marquee{
    padding: 3rem;
    background-color: rgb(204, 255, 62);
    display: flex;
    align-items: center;
    flex-shrink: 0;
 }